<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }
        #tab-flexbox{
            margin:0 auto;
            display:flex;
            max-width:900px;
            width:95%;
            justify-content:space-between;
        }
        #wine-tab,
        #spirit-tab{
            border-radius:10px 10px 0 0;
            width:50%;
            text-align:center;
            border-top:1px solid black;
            border-left:1px solid black;
            border-right:1px solid black;
            height:2rem;
            display:grid;
            align-content:center;
        }
        #wine-tab{
            background:lightblue;
        }
        #spirit-tab{
            background:rgb(183, 255, 183);
            border-bottom:1px solid black;
            cursor:pointer;
        }
        #wine-form{
            border-radius:0 0 10px 10px;
            padding:1rem;
            margin:0 auto;
            margin-bottom: 20px;
            max-width:900px;
            width:95%;
            background:lightblue;
            border-left:1px solid black;
            border-right:1px solid black;
            border-bottom:1px solid black;
        }
        h1{
            width:95%;
            margin:0 auto;
            padding-top:1rem;
            text-align: center;
        }
        button{
            padding:0.5em 1em;
            border-radius:10px;
            cursor:pointer;
        }
        #section-wrapper,
        #category-wrapper,
        #region-wrapper,
        #subregion-wrapper{
            position:relative;
            display:none;
        }
        .section,
        .category,
        .region,
        .subregion{
            position:absolute;
            display:none;
        }
        @media (width < 1000px) {
            #description{
                height:3em;
                width:60ch;
            }
        }
        @media (width < 550px){
            #description{
                height:4em;
                width:40ch;
            }
        }
        @media (width < 350px){
            #description{
                height:5em;
                width:30ch;
            }
        }
    </style>
</head>

<body>
    <h1>CREATE NEW MENU ITEM</h1>
    <br><br>
    <div id="tab-flexbox">
        <div id="wine-tab">Add New Wine</div>
        <div id="spirit-tab">Add New Spirit</div>
    </div>
    <div id="wine-form">
        <form   method = 'POST'
                action = '../update/createWine'>
            <input type="hidden" value="wine" name="wine_spirit">

            <label for="type">Type of Wine:</label><br>
            <select id="type" name="type" required>
                <option disabled selected value="">Select Wine Type...</option>
                <option value="BY THE GLASS">By The Glass</option>
                <option value="HALF BOTTLES">Half Bottle</option>
                <option value="LARGE FORMATS">Large Format</option>
                <option value="SAKE">Sake</option>
                <option value="SPARKLING">Sparkling</option>
                <option value="CHAMPAGNE">Champagne</option>
                <option value="WHITE WINE">White Wine</option>
                <option value="ROSÉ WINE">Rosé Wine</option>
                <option value="RED WINE">Red Wine</option>
                <option value="SWEET WINE">Sweet Wine</option>
                <option value="FORTIFIED WINE">Fortified Wine</option>
            </select>

            
            <div id="section-wrapper">
                <br>
                <label for="section" id="label-section">Section:</label><br>
    
                <select class="section" id="section-btg" name="section" required>
                    <option disabled selected value="">Select a Section...</option>
                    <option value="SAKE">Sake</option>
                    <option value="CARAFE">Carafe</option>
                    <option value="CHAMPAGNE">Champagne</option>
                    <option value="WHITE WINE">White Wine</option>
                    <option value="ROSÉ WINE">Rosé Wine</option>
                    <option value="RED WINE">Red Wine</option>
                    <option value="DESSERT WINE">Dessert Wine</option>
                </select>

                <select class="section" id="section-half-bottle" name="section">
                    <option disabled selected value="default">Select a Section...</option>
                    <option value="CHAMPAGNE">Champagne</option>
                    <option value="WHITE WINE">White Wine</option>
                    <option value="RED WINE">Red Wine</option>
                    <option value="SAKE">Sake</option>
                </select>

                <select name="section" class="section" id="section-large-format">
                    <option disabled selected value="default">Select a Section...</option>
                    <option value="SPARKLING & CHAMPAGNE">Sparkling & Champagne</option>
                    <option value="WHITE WINE">White Wine</option>
                    <option value="ROSÉ WINE">Rosé Wine</option>
                    <option value="RED WINE">Red Wine</option>
                </select>

                <select name="section" class="section" id="section-sake">
                    <option selected disabled value="default">Select a Section...</option>
                    <option value="NIGORI">Nigori</option>
                    <option value="JUNMAI & JUNMAI GINJO">Junmai & Junmai Ginjo</option>
                    <option value="DAIGINJO">Daiginjo</option>
                    <option value="JUNMAI DAIGINJO">Junmai Daiginjo</option>
                    <option value="SPECIALTY">Specialty</option>
                    <option value="SWEET">Sweet</option>
                </select>

                <select name="section" class="section" id="section-champagne">
                    <option selected disabled value="default">Select a Section...</option>
                    <option value="NON-VINTAGE">Non-Vintage</option>
                    <option value="VINTAGE">Vintage</option>
                    <option value="ROSÉ">Rosé</option>
                </select>

                <select name="section" class="section" id="section-white-wine">
                    <option selected disabled value="default">Select a Section...</option>
                    <option value="ITALY">Italy</option>
                    <option value="FRANCE">France</option>
                    <option value="AUSTRIA">Austria</option>
                    <option value="GERMANY">Germany</option>
                    <option value="SPAIN">Spain</option>
                    <option value="PORTUGAL">Portugal</option>
                    <option value="ISRAEL">Israel</option>
                    <option value="UNITED STATES">United States</option>
                    <option value="NEW ZEALAND">New Zealand</option>
                    <option value="AUSTRALIA">Australia</option>
                    <option value="ARGENTINA">Argentina</option>
                    <option value="SOUTH AFRICA">South Africa</option>
                </select>

                <select name="section" class="section" id="section-rosé-wine">
                    <option selected disabled value="default">Select a Section...</option>
                    <option value="FRANCE">France</option>
                    <option value="ITALY">Italy</option>
                </select>

                <select name="section" class="section" id="section-red-wine">
                    <option selected disabled value="default">Select a Section...</option>
                    <option value="ITALY">Italy</option>
                    <option value="FRANCE">France</option>
                    <option value="AUSTRIA">Austria</option>
                    <option value="GERMANY">Germany</option>
                    <option value="SPAIN">Spain</option>
                    <option value="PORTUGAL">Portugal</option>
                    <option value="ISRAEL">Israel</option>
                    <option value="UNITED STATES">United States</option>
                    <option value="LEBANON">Lebanon</option>
                    <option value="NEW ZEALAND">New Zealand</option>
                    <option value="CHILE">Chile</option>
                    <option value="SOUTH AFRICA">South Africa</option>
                </select>

                <select class="section" name="section" id="section-sweet-wine">
                    <option selected disabled value="default">Select a Section...</option>
                    <option value="FRANCE">France</option>
                    <option value="ITALY">Italy</option>
                    <option value="AUSTRIA">Austria</option>
                    <option value="HUNGARY">Hungary</option>
                    <option value="CANADA">Canada</option>
                    <option value="GERMANY">Germany</option>
                    <option value="SPAIN">Spain</option>
                </select>

                <select class="section" name="section" id="section-fortified-wine">
                    <option selected disabled value="default">Select a Section...</option>
                    <option value="">Portugal</option>
                    <option value="">Madeira</option>
                </select>
    

            </div>







            <div id="category-wrapper">
                <br><br>
                <label for="category">Category:</label><br>
    
                <select class="category" id="white-wine-italy" name="category">
                    <option selected disabled value="default">Select a Category...</option>
                    <option value="PIEDMONT">Piedmont</option>
                    <option value="ALTO ADIGE">Alto Adige</option>
                    <option value="FRIULI-VENEZIA GIULIA">Friuli-Venezia Giulia</option>
                    <option value="VENETO">Veneto</option>
                    <option value="TUSCANY">Tuscany</option>
                    <option value="UMBRIA">Umbria</option>
                    <option value="SICILY">Sicily</option>
                </select>

                <select class="category" id="white-wine-france" name="category">
                    <option selected disabled value="default">Select a Category</option>
                    <option value="BURGUNDY">Burgundy</option>
                    <option value="BORDEAUX BLANC">Bordeaux Blanc</option>
                    <option value="SAVOIE">Savoie</option>
                    <option value="LOIRE VALLEY">Loire Valley</option>
                    <option value="JURA">Jura</option>
                    <option value="RHÔNE VALLEY">Rhône Valley</option>
                    <option value="ALSACE">Alsace</option>
                </select>

                <select class="category" id="white-wine-germany" name="category">
                    <option selected disabled value="default">Select a Category...</option>
                    <option value="TROCKEN">Trocken</option>
                    <option value="PRÄDIKATSWEIN & FEINHERB">Prädikatswein & Feinherb</option>
                </select>

                <select class="category" id="white-wine-united-states" name="category">
                    <option selected disabled value="default">Select a Category...</option>
                    <option value="CALIFORNIA">California</option>
                    <option value="OREGON">Oregon</option>
                </select>

                <select class="category" id="rosé-wine-france" name="category">
                    <option selected disabled value="default">Select a Category</option>
                    <option value="LOIRE VALLEY">Loire Valley</option>
                    <option value="PROVENCE">Provence</option>
                </select>

                <select class="category" id="rosé-wine-italy" name="category">
                    <option selected disabled value="default">Select a Category</option>
                    <option value="SICILY">Sicily</option>
                </select>

                <select class="category" id="red-wine-italy" name="category">
                    <option selected disabled value="default">Select a Category...</option>
                    <option value="TRENTINO-ALTO ADIGE">Trentino-Alto Adige</option>
                    <option value="PIEDMONT">Piedmont</option>
                    <option value="VENETO">Veneto</option>
                    <option value="FRIULI-VENEZIA GIULIA">Friuli-Venezia Giulia</option>
                    <option value="TUSCANY">Tuscany</option>
                    <option value="SICILY">Sicily</option>
                </select>

                <select class="category" id="red-wine-france" name="category">
                    <option selected disabled value="default">Select a Category...</option>
                    <option value="BURGUNDY">Burgundy</option>
                    <option value="BEAUJOLAIS">Beaujolais</option>
                    <option value="BORDEAUX">Bordeaux</option>
                    <option value="LOIRE VALLEY">Loire Valley</option>
                    <option value="RHÔNE VALLEY">Rhône Valley</option>
                </select>

                <select class="category" name="category" id="red-wine-spain">
                    <option selected disabled value="default">Select a Category...</option>
                    <option value="BIERZO">Bierzo</option>
                    <option value="PRIORAT">Priorat</option>
                    <option value="RÍAS BAIXAS">Rías Baixas</option>
                    <option value="RIBERA DEL DUERO">Ribera del Duero</option>
                    <option value="RIOJA">Rioja</option>
                    <option value="CANARY ISLANDS">Canary Islands</option>
                </select>

                <select class="category" name="category" id="red-wine-united-states">
                    <option selected disabled value="default">Select a Category...</option>
                    <option value="OREGON">Oregon</option>
                    <option value="CALIFORNIA">California</option>
                    <option value="WASHINGTON">Washington</option>
                    <option value="NEW YORK">New York</option>
                </select>


            </div>



            <div id="region-wrapper">

                <br><br>
                <label for="region">Region:</label><br>
    
                <select class="region" name="region" id="white-wine-france-burgundy">
                    <option selected disabled value="default">Select a Region...</option>
                    <option value="BOURGOGNE ALIGOTÉ">Bourgogne Aligoté</option>
                    <option value="BOURGOGNE BLANC">Bourgogne Blanc</option>
                    <option value="CHABLIS">Chablis</option>
                    <option value="AUXEY-DURESSES">Auxey-Duresses</option>
                    <option value="HAUTES-CÔTES DE NUITS">Hautes-Côtes de Nuits</option>
                    <option value="CORTON-CHARLEMAGNE">Corton-Charlemagne</option>
                    <option value="MEURSAULT">Meursault</option>
                    <option value="MONTHELIE">Monthelie</option>
                    <option value="NUITS-SAINT-GEORGES">Nuits-Saint-Georges</option>
                    <option value="CHEVALIER-MONTRACHET">Chevalier-Montrachet</option>
                    <option value="PULIGNY-MONTRACHET">Puligny-Montrachet</option>
                    <option value="BIENVENUES-BÂTARD-MONTRACHET">Bienvenues-Bâtard-Montrachet</option>
                    <option value="BÂTARD-MONTRACHET">Bâtard-Montrachet</option>
                    <option value="CHASSAGNE-MONTRACHET">Chassagne-Montrachet</option>
                    <option value="MÂCON-VERZÉ">Mâcon-Verzé</option>
                    <option value="MERCUREY">Mercurey</option>
                    <option value="POUILLY-FUISSÉ">Pouilly-Fuissé</option>
                    <option value="SAINT-VÉRAN">Saint-Véran</option>
                </select>

                <select class="region" name="region" id="white-wine-france-loire-valley">
                    <option selected disabled value="default">Select a Region...</option>
                    <option value="COULÉE DE SERRANT">Coulée de Serrant</option>
                    <option value="SAVENNIÈRES">Savennières</option>
                    <option value="SAUMUR">Saumur</option>
                    <option value="SANCERRE">Sancerre</option>
                    <option value="POUILLY-FUMÉ">Pouilly-Fumé</option>
                    <option value="CÔTEAUX CHAMPENOIS">Côteaux Champenois</option>
                </select>

                <select class="region" name="region" id="white-wine-france-jura">
                    <option selected disabled value="default">Select a Region...</option>
                    <option value="ARBOIS">Arbois</option>
                    <option value="CÔTES DU JURA">Côtes du Jura</option>
                </select>

                <select class="region" name="region" id="white-wine-united-states-california">
                    <option selected disabled value="default">Select a Region...</option>
                    <option value="PASO ROBLES">Paso Robles</option>
                    <option value="SONOMA COAST">Sonoma Coast</option>
                    <option value="RUSSIAN RIVER VALLEY">Russian River Valley</option>
                    <option value="NAPA VALLEY">Napa Valley</option>
                    <option value="SANTA CRUZ MOUNTAINS">Santa Cruz Mountains</option>
                    <option value="SANTA BARBARA COUNTY">Santa Barbara County</option>
                    <option value="SANTA RITA HILLS">Santa Rita Hills</option>
                </select>

                <select class="region" name="region" id="white-wine-united-states-oregon">
                    <option selected disabled value="default">Select a Region...</option>
                    <option value="EOLA-AMITY HILLS">Eola-Amity Hills</option>
                </select>

                <select class="region" name="region" id="red-wine-italy-piedmont">
                    <option selected disabled value="default">Select a Region...</option>
                    <option value="DOLCETTO DI DOGLIANI">Dolcetto di Dogliani</option>
                    <option value="GATTINARA">Gattinara</option>
                    <option value="LANGHE">Langhe</option>
                    <option value="BARBARESCO DOCG">Barbaresco DOCG</option>
                    <option value="BAROLO DOCG">Barolo DOCG</option>
                </select>

                <select class="region" name="region" id="red-wine-italy-tuscany">
                    <option selected disabled value="default">Select a Region...</option>
                    <option value="BOLGHERI DOC">Bolgheri DOC</option>
                    <option value="TUSCANY IGT">Tuscany IGT</option>
                    <option value="CHIANTI CLASSICO DOCG">Chianti Classico DOCG</option>
                    <option value="ROSSO DI MONTALCINO">Rosso di Montalcino</option>
                    <option value="BRUNELLO DI MONTALCINO DOCG">Brunello di Montalcino DOCG</option>
                </select>

                <select class="region" name="region" id="red-wine-france-burgundy">
                    <option selected disabled value="default">Select a Region...</option>
                    <option value="CÔTE DE NUITS">Côte de Nuits</option>
                    <option value="CÔTE DE BEAUNE">Côte de Beaune</option>
                </select>

                <select class="region" name="region" id="red-wine-france-bordeaux">
                    <option selected disabled value="default">Select a Region...</option>
                    <option value="FIRST GROWTH">First Growth</option>
                    <option value="HAUT-MÉDOC">Haut-Médoc</option>
                    <option value="SAINT-ESTÈPHE">Saint-Estèphe</option>
                    <option value="PAUILLAC">Pauillac</option>
                    <option value="SAINT-JULIEN">Saint-Julien</option>
                    <option value="MARGAUX">Margaux</option>
                    <option value="GRAVES & PESSAC-LÉOGNAN">Graves & Pessac-Léognan</option>
                    <option value="SAINT-ÉMILION">Saint-Émilion</option>
                    <option value="POMEROL">Pomerol</option>
                </select>

                <select class="region" name="region" id="red-wine-france-loire-valley">
                    <option selected disabled value="default">Select a Region...</option>
                    <option value="CHINON">Chinon</option>
                    <option value="SAUMUR">Saumur</option>
                </select>

                <select class="region" name="region" id="red-wine-france-rhône-valley">
                    <option selected disabled value="default">Select a Region...</option>
                    <option value="NORTHERN RHÔNE">Northern Rhône</option>
                    <option value="SOUTHERN RHÔNE">Southern Rhône</option>
                </select>

                <select class="region" name="region" id="red-wine-united-states-oregon">
                    <option selected disabled value="default">Select a Region...</option>
                    <option value="WILLAMETTE VALLEY">Willamette Valley</option>
                    <option value="EOLA-AMITY HILLS">Eola-Amity Hills</option>
                </select>

                <select class="region" name="region" id="red-wine-united-states-california">
                    <option selected disabled value="default">Select a Region...</option>
                    <option value="ANDERSON VALLEY">Anderson Valley</option>
                    <option value="LODI">Lodi</option>
                    <option value="SANTA RITA HILLS">Santa Rita Hills</option>
                    <option value="SANTA YNEZ VALLEY">Santa Ynez Valley</option>
                    <option value="SONOMA">Sonoma</option>
                    <option value="PASO ROBLES">Paso Robles</option>
                    <option value="RUSSIAN RIVER VALLEY">Russian River Valley</option>
                    <option value="NAPA VALLEY">Napa Valley</option>
                    <option value="ALEXANDER VALLEY">Alexander Valley</option>
                    <option value="SANTA CRUZ MOUNTAINS">Santa Cruz Mountains</option>
                </select>

                <select class="region" name="region" id="red-wine-united-states-washington">
                    <option selected disabled value="default">Select a Region...</option>
                    <option value="COLUMBIA VALLEY">Columbia Valley</option>
                </select>

                <select class="region" name="region" id="red-wine-united-states-new-york">
                    <option selected disabled value="default">Select a Region...</option>
                    <option value="NORTH FORK LONG ISLAND">North Fork Long Island</option>
                </select>

            </div>




            <div id="subregion-wrapper">

                <br><br>
                <label for="subregion">Sub-Region:</label><br>
    
                <select class="subregion" name="subregion" id="red-wine-italy-piedmont-barolo-docg">
                    <option selected disabled value="default">Select a Sub-Region...</option>
                    <option value="BAROLO">Barolo</option>
                    <option value="CANNUBI">Cannubi</option>
                    <option value="CASTIGLIONE">Castiglione</option>
                    <option value="LA MORRA">La Morra</option>
                    <option value="MONFORTE D'ALBA">Monforte d'Alba</option>
                    <option value="SERRALUNGA D'ALBA">Serralunga d'Alba</option>
                    <option value="VERDUNO">Verduno</option>
                    <option value="PELAVERGA">Pelaverga</option>
                </select>

                <select class="subregion" name="subregion" id="red-wine-france-burgundy-côte-de-nuits">
                    <option selected disabled value="default">Select a Sub-Region...</option>
                    <option value="BOURGOGNE ROUGE">Bourgogne Rouge</option>
                    <option value="GEVREY-CHAMBERTIN">Gevrey-Chambertin</option>
                    <option value="CLOS DE BÈZE">Clos de Bèze</option>
                    <option value="CHAMBERTIN">Chambertin</option>
                    <option value="MAZIS-CHAMBERTIN">Mazis-Chambertin</option>
                    <option value="CHAPELLE-CHAMBERTIN">Chapelle-Chambertin</option>
                    <option value="CHARMES-CHAMBERTIN">Charmes-Chambertin</option>
                    <option value="MOREY-SAINT-DENIS">Morey-Saint-Denis</option>
                    <option value="CLOS DE LA ROCHE">Clos de la Roche</option>
                    <option value="CLOS DES LAMBRAYS">Clos des Lambrays</option>
                    <option value="CLOS-SAINT-DENIS">Clos-Saint-Denis</option>
                    <option value="BONNES-MARES">Bonnes-Mares</option>
                    <option value="ÉCHÉZEAUX">Échézeaux</option>
                    <option value="GRANDS ÉCHÉZEAUX">Grands Échézeaux</option>
                    <option value="CLOS DE VOUGEOT">Clos de Vougeot</option>
                    <option value="VOSNE-ROMANÉE">Vosne-Romanée</option>
                    <option value="CHAMBOLLE-MUSIGNY">Chambolle-Musigny</option>
                    <option value="RICHEBOURG">Richebourg</option>
                    <option value="ROMANÉE-SAINT-VIVANT">Romanée-Saint-Vivant</option>
                    <option value="NUITS-SAINT-GEORGES">Nuits-Saint-Georges</option>
                    <option value="FIXIN">Fixin</option>
                </select>

                <select class="subregion" name="subregion" id="red-wine-france-burgundy-côte-de-beaune">
                    <option selected disabled value="default">Select a Sub-Region...</option>
                    <option value="CHASSAGNE-MONTRACHET">Chassagne-Montrachet</option>
                    <option value="CHOREY-LES-BEAUNE">Chorey-les-Beaune</option>
                    <option value="CORTON GRAND CRU">Corton Grand Cru</option>
                    <option value="BEAUNE">Beaune</option>
                    <option value="MONTHÉLIE">Monthélie</option>
                    <option value="POMMARD">Pommard</option>
                    <option value="VOLNAY">Volnay</option>
                    <option value="SAVIGNY-LÈS-BEAUNE">Savigny-lès-Beaune</option>
                    <option value="MERCUREY">Mercurey</option>
                </select>

                <select class="subregion" name="subregion" id="red-wine-france-bordeaux-first-growth">
                    <option selected disabled value="default">Select a Sub-Region...</option>
                    <option value="GRAVES & PESSAC-LÉOGNAN">Graves & Pessac-Leognan</option>
                    <option value="PAUILLAC">Pauillac</option>
                    <option value="MARGAUX">Margaux</option>
                </select>

                <select class="subregion" name="subregion" id="red-wine-france-rhône-valley-northern-rhône">
                    <option selected disabled value="default">Select a Sub-Region...</option>
                    <option value="CÔTE-RÔTIE">Côte-Rôtie</option>
                    <option value="CORNAS">Cornas</option>
                    <option value="CROZES-HERMITAGE">Crozes-Hermitage</option>
                    <option value="HERMITAGE">Hermitage</option>
                    <option value="SAINT-JOSEPH">Saint-Joseph</option>
                </select>

                <select class="subregion" name="subregion" id="red-wine-france-rhône-valley-southern-rhône">
                    <option selected disabled value="default">Select a Sub-Region...</option>
                    <option value="CHÂTEAUNEUF-DU-PAPE">Châteauneuf-du-Pape</option>
                    <option value="VACQUEYRAS">Vacqueyras</option>
                </select>
                
            </div>

            <br><br>
            <label for="bin">Bin#:</label><br>
            <input type="number" min="0" max="9999" name="bin" required>

            <br><br>
            <label for="description">Description:</label><br>
            <textarea id="description" maxlength="85" rows="1" cols="120" name="description" required></textarea>

            <br><br>
            <label for="vintage_size">Vintage:</label><br>
            <input type="text" name="vintage_size" maxlength="4" style="width:5ch" required>

            <br><br>
            <label for="price">Price:</label><br>
            <input type="number" name="price" min="0" max="99999" required>

            <br><br>
            <label for="cost">Cost:</label><br>
            <input type="number" name="cost" min="0" max="99999">

            <br><br>
            <label for="quantity">Quantity:</label><br>
            <input type="number" name="quantity" min="0" max="999">

            <br><br>
            <label for="status">Status:</label><br>
            <select name="status" required>
                <option selected disabled value="">Select a Status...</option>
                <option value="pre-launch">Pre-Launch</option>
                <option value="live">Live</option>
                <option value="retired" disabled>Retired</option>
            </select>


            <br><br><br>
            <button type="submit">Save</button>
            <br><br>
        </form>
    </div>

    


    <div id="spirit-form"></div>
        


    <script>

        const sectionWrapper = document.querySelector('#section-wrapper')
        const categoryWrapper = document.querySelector('#category-wrapper')
        const regionWrapper = document.querySelector('#region-wrapper')
        const subregionWrapper = document.querySelector('#subregion-wrapper')

        function showSection(){
            sectionWrapper.style.display = 'none'
            categoryWrapper.style.display = 'none'
            regionWrapper.style.display = 'none'
            subregionWrapper.style.display = 'none'
            const sections = document.querySelectorAll('.section')
            sections.forEach(section=>section.style.display = 'none')
            const type = document.querySelector('#type').value
            if(type == 'BY THE GLASS') {
                document.querySelector('#section-wrapper').style.display = 'block'
                document.querySelector('#section-btg').style.display = 'block'
            }
            if(type == 'HALF BOTTLES') {
                document.querySelector('#section-half-bottle').value = 'default'
                document.querySelector('#section-wrapper').style.display = 'block'
                document.querySelector('#section-half-bottle').style.display = 'block'
            }
            if(type == 'LARGE FORMATS') {
                document.querySelector('#section-wrapper').style.display = 'block'
                document.querySelector('#section-large-format').value = 'default'
                document.querySelector('#section-large-format').style.display = 'block'
            }
            if(type == 'SAKE') {
                document.querySelector('#section-wrapper').style.display = 'block'
                document.querySelector('#section-sake').value = 'default'
                document.querySelector('#section-sake').style.display = 'block'
            }
            if(type == 'CHAMPAGNE') {
                document.querySelector('#section-wrapper').style.display = 'block'
                document.querySelector('#section-champagne').value = 'default'
                document.querySelector('#section-champagne').style.display = 'block'
            }
            if(type == 'WHITE WINE') {
                document.querySelector('#section-wrapper').style.display = 'block'
                document.querySelector('#section-white-wine').value = 'default'
                document.querySelector('#section-white-wine').style.display = 'block'
            }
            if(type == 'ROSÉ WINE') {
                document.querySelector('#section-wrapper').style.display = 'block'
                document.querySelector('#section-rosé-wine').value = 'default'
                document.querySelector('#section-rosé-wine').style.display = 'block'
            }
            if(type == 'RED WINE') {
                document.querySelector('#section-wrapper').style.display = 'block'
                document.querySelector('#section-red-wine').value = 'default'
                document.querySelector('#section-red-wine').style.display = 'block'
            }
            if(type == 'SWEET WINE') {
                document.querySelector('#section-wrapper').style.display = 'block'
                document.querySelector('#section-sweet-wine').value = 'default'
                document.querySelector('#section-sweet-wine').style.display = 'block'
            }
            if(type == 'FORTIFIED WINE') {
                document.querySelector('#section-wrapper').style.display = 'block'
                document.querySelector('#section-fortified-wine').value = 'default'
                document.querySelector('#section-fortified-wine').style.display = 'block'
            }
        }
        const wineType = document.querySelector('#type')
        wineType.addEventListener('change', showSection)


        const categories = document.querySelectorAll('.category')


        function sectionWhiteWineShowCategory(){
            categoryWrapper.style.display = 'none'
            regionWrapper.style.display = 'none'
            subregionWrapper.style.display = 'none'
            categories.forEach(category => category.style.display = 'none')
            if (sectionWhiteWine.value == 'ITALY') {
                document.querySelector('#white-wine-italy').value = 'default'
                document.querySelector('#category-wrapper').style.display = 'block'
                document.querySelector('#white-wine-italy').style.display = 'block'
            } 
            if (sectionWhiteWine.value == 'FRANCE') {
                document.querySelector('#category-wrapper').style.display = 'block'
                document.querySelector('#white-wine-france').value = 'default'
                document.querySelector('#white-wine-france').style.display = 'block'
            } 
            if (sectionWhiteWine.value == 'GERMANY') {
                document.querySelector('#category-wrapper').style.display = 'block'
                document.querySelector('#white-wine-germany').value = 'default'
                document.querySelector('#white-wine-germany').style.display = 'block'
            } 
            if (sectionWhiteWine.value == 'UNITED STATES') {
                document.querySelector('#category-wrapper').style.display = 'block'
                document.querySelector('#white-wine-united-states').value = 'default'
                document.querySelector('#white-wine-united-states').style.display = 'block'
            }
        }
        const sectionWhiteWine = document.querySelector('#section-white-wine')
        sectionWhiteWine.addEventListener('change', sectionWhiteWineShowCategory)



        function sectionRoséWineShowCategory(){
            categoryWrapper.style.display = 'none'
            regionWrapper.style.display = 'none'
            subregionWrapper.style.display = 'none'
            categories.forEach(category => category.style.display = 'none')
            if (sectionRoséWine.value == 'FRANCE') {
                document.querySelector('#category-wrapper').style.display = 'block'
                document.querySelector('#rosé-wine-france').value = 'default'
                document.querySelector('#rosé-wine-france').style.display = 'block'
            }
            if (sectionRoséWine.value == 'ITALY') {
                document.querySelector('#category-wrapper').style.display = 'block'
                document.querySelector('#rosé-wine-italy').value = 'default'
                document.querySelector('#rosé-wine-italy').style.display = 'block'
            }
        }
        const sectionRoséWine = document.querySelector('#section-rosé-wine')
        sectionRoséWine.addEventListener('change', sectionRoséWineShowCategory)


        function sectionRedWineShowCategory(){
            categoryWrapper.style.display = 'none'
            regionWrapper.style.display = 'none'
            subregionWrapper.style.display = 'none'
            categories.forEach(category => category.style.display = 'none')
            if (sectionRedWine.value == 'ITALY') {
                document.querySelector('#category-wrapper').style.display = 'block'
                document.querySelector('#red-wine-italy').value = 'default'
                document.querySelector('#red-wine-italy').style.display = 'block'
            }
            if (sectionRedWine.value == 'FRANCE') {
                document.querySelector('#category-wrapper').style.display = 'block'
                document.querySelector('#red-wine-france').value = 'default'
                document.querySelector('#red-wine-france').style.display = 'block'
            }
            if (sectionRedWine.value == 'SPAIN') {
                document.querySelector('#category-wrapper').style.display = 'block'
                document.querySelector('#red-wine-spain').value = 'default'
                document.querySelector('#red-wine-spain').style.display = 'block'
            }
            if (sectionRedWine.value == 'UNITED STATES') {
                document.querySelector('#category-wrapper').style.display = 'block'
                document.querySelector('#red-wine-united-states').value = 'default'
                document.querySelector('#red-wine-united-states').style.display = 'block'
            }
        }
        const sectionRedWine = document.querySelector('#section-red-wine')
        sectionRedWine.addEventListener('change', sectionRedWineShowCategory)


        const regions = document.querySelectorAll('.region')

        function categoryWhiteWineFranceShowRegion(){
            regions.forEach(region => region.style.display = 'none')
            if(categoryWhiteWineFrance.value == 'BURGUNDY') {
                document.querySelector('#region-wrapper').style.display = 'block'
                document.querySelector('#white-wine-france-burgundy').value = 'default'
                document.querySelector('#white-wine-france-burgundy').style.display = 'block'
            }
            if(categoryWhiteWineFrance.value == 'LOIRE VALLEY') {
                document.querySelector('#region-wrapper').style.display = 'block'
                document.querySelector('#white-wine-france-loire-valley').value = 'default'
                document.querySelector('#white-wine-france-loire-valley').style.display = 'block'
            }
            if(categoryWhiteWineFrance.value == 'JURA') {
                document.querySelector('#region-wrapper').style.display = 'block'
                document.querySelector('#white-wine-france-jura').value = 'default'
                document.querySelector('#white-wine-france-jura').style.display = 'block'
            }
        }
        const categoryWhiteWineFrance = document.querySelector('#white-wine-france')
        categoryWhiteWineFrance.addEventListener('change', categoryWhiteWineFranceShowRegion)

        function categoryWhiteWineUnitedStatesShowRegion(){
            regions.forEach(region => region.style.display = 'none')
            console.log(categoryWhiteWineUnitedStates.value)
            if(categoryWhiteWineUnitedStates.value == 'CALIFORNIA') {
                document.querySelector('#region-wrapper').style.display = 'block'
                document.querySelector('#white-wine-united-states-california').value = 'default'
                document.querySelector('#white-wine-united-states-california').style.display = 'block'
            }
            if(categoryWhiteWineUnitedStates.value == 'OREGON') {
                document.querySelector('#region-wrapper').style.display = 'block'
                document.querySelector('#white-wine-united-states-oregon').value = 'default'
                document.querySelector('#white-wine-united-states-oregon').style.display = 'block'
            }
        }
        const categoryWhiteWineUnitedStates = document.querySelector('#white-wine-united-states')
        categoryWhiteWineUnitedStates.addEventListener('change', categoryWhiteWineUnitedStatesShowRegion)

        function categoryRedWineItalyShowRegion(){
            regions.forEach(region => region.style.display = 'none')
            if(categoryRedWineItaly.value == 'PIEDMONT') {
                document.querySelector('#region-wrapper').style.display = 'block'
                document.querySelector('#red-wine-italy-piedmont').value = 'default'
                document.querySelector('#red-wine-italy-piedmont').style.display = 'block'
            }
            if(categoryRedWineItaly.value == 'TUSCANY') {
                document.querySelector('#region-wrapper').style.display = 'block'
                document.querySelector('#red-wine-italy-tuscany').value = 'default'
                document.querySelector('#red-wine-italy-tuscany').style.display = 'block'
            }
        }
        const categoryRedWineItaly = document.querySelector('#red-wine-italy')
        categoryRedWineItaly.addEventListener('change', categoryRedWineItalyShowRegion)

        function categoryRedWineFranceShowRegion(){
            regions.forEach(region => region.style.display = 'none')
            if(categoryRedWineFrance.value == 'BURGUNDY') {
                document.querySelector('#region-wrapper').style.display = 'block'
                document.querySelector('#red-wine-france-burgundy').value = 'default'
                document.querySelector('#red-wine-france-burgundy').style.display = 'block'
            }
            if(categoryRedWineFrance.value == 'BORDEAUX') {
                document.querySelector('#region-wrapper').style.display = 'block'
                document.querySelector('#red-wine-france-bordeaux').value = 'default'
                document.querySelector('#red-wine-france-bordeaux').style.display = 'block'
            }
            if(categoryRedWineFrance.value == 'LOIRE VALLEY') {
                document.querySelector('#region-wrapper').style.display = 'block'
                document.querySelector('#red-wine-france-loire-valley').value = 'default'
                document.querySelector('#red-wine-france-loire-valley').style.display = 'block'
            }
            if(categoryRedWineFrance.value == 'RHÔNE VALLEY') {
                document.querySelector('#region-wrapper').style.display = 'block'
                document.querySelector('#red-wine-france-rhône-valley').value = 'default'
                document.querySelector('#red-wine-france-rhône-valley').style.display = 'block'
            }
        }
        const categoryRedWineFrance = document.querySelector('#red-wine-france')
        categoryRedWineFrance.addEventListener('change', categoryRedWineFranceShowRegion)

        function categoryRedWineUnitedStatesShowRegion(){
            regions.forEach(region => region.style.display = 'none')
            if(categoryRedWineUnitedStates.value == 'OREGON') {
                document.querySelector('#region-wrapper').style.display = 'block'
                document.querySelector('#red-wine-united-states-oregon').value = 'default'
                document.querySelector('#red-wine-united-states-oregon').style.display = 'block'
            }
            if(categoryRedWineUnitedStates.value == 'CALIFORNIA') {
                document.querySelector('#region-wrapper').style.display = 'block'
                document.querySelector('#red-wine-united-states-california').value = 'default'
                document.querySelector('#red-wine-united-states-california').style.display = 'block'
            }
            if(categoryRedWineUnitedStates.value == 'WASHINGTON') {
                document.querySelector('#region-wrapper').style.display = 'block'
                document.querySelector('#red-wine-united-states-washington').value = 'default'
                document.querySelector('#red-wine-united-states-washington').style.display = 'block'
            }
            if(categoryRedWineUnitedStates.value == 'NEW YORK') {
                document.querySelector('#region-wrapper').style.display = 'block'
                document.querySelector('#red-wine-united-states-new-york').value = 'default'
                document.querySelector('#red-wine-united-states-new-york').style.display = 'block'
            }
        }
        const categoryRedWineUnitedStates = document.querySelector('#red-wine-united-states')
        categoryRedWineUnitedStates.addEventListener('change', categoryRedWineUnitedStatesShowRegion)

        const subregions = document.querySelectorAll('.subregion')

        function regionRedWineItalyPiedmontShowSubregion(){
            subregions.forEach(subregion => subregion.style.display = 'none')
            if(regionRedWineItalyPiedmont.value == 'BAROLO DOCG') {
                document.querySelector('#subregion-wrapper').style.display = 'block'
                document.querySelector('#red-wine-italy-piedmont-barolo-docg').value = 'default'
                document.querySelector('#red-wine-italy-piedmont-barolo-docg').style.display = 'block'
            }
        }
        const regionRedWineItalyPiedmont = document.querySelector('#red-wine-italy-piedmont')
        regionRedWineItalyPiedmont.addEventListener('change', regionRedWineItalyPiedmontShowSubregion)

        function regionRedWineFranceBurgundyShowSubregion(){
            subregions.forEach(subregion => subregion.style.display = 'none')
            if(regionRedWineFranceBurgundy.value == 'CÔTE DE NUITS') {
                document.querySelector('#subregion-wrapper').style.display = 'block'
                document.querySelector('#red-wine-france-burgundy-côte-de-nuits').value = 'default'
                document.querySelector('#red-wine-france-burgundy-côte-de-nuits').style.display = 'block'
            }
            if(regionRedWineFranceBurgundy.value == 'CÔTE DE BEAUNE') {
                document.querySelector('#subregion-wrapper').style.display = 'block'
                document.querySelector('#red-wine-france-burgundy-côte-de-beaune').value = 'default'
                document.querySelector('#red-wine-france-burgundy-côte-de-beaune').style.display = 'block'
            }
        }
        const regionRedWineFranceBurgundy = document.querySelector('#red-wine-france-burgundy')
        regionRedWineFranceBurgundy.addEventListener('change', regionRedWineFranceBurgundyShowSubregion)

        function regionRedWineFranceBordeauxShowSubregion(){
            subregions.forEach(subregion => subregion.style.display = 'none')
            if(regionRedWineFranceBordeaux.value == 'FIRST GROWTH') {
                document.querySelector('#subregion-wrapper').style.display = 'block'
                document.querySelector('#red-wine-france-bordeaux-first-growth').value = 'default'
                document.querySelector('#red-wine-france-bordeaux-first-growth').style.display = 'block'
            }
        }
        const regionRedWineFranceBordeaux = document.querySelector('#red-wine-france-bordeaux')
        regionRedWineFranceBordeaux.addEventListener('change', regionRedWineFranceBordeauxShowSubregion)

        function regionRedWineFranceRhôneValleyShowSubregion(){
            subregions.forEach(subregion => subregion.style.display = 'none')
            if(regionRedWineFranceRhôneValley.value == 'NORTHERN RHÔNE') {
                document.querySelector('#subregion-wrapper').style.display = 'block'
                document.querySelector('#red-wine-france-rhône-valley-northern-rhône').value = 'default'
                document.querySelector('#red-wine-france-rhône-valley-northern-rhône').style.display = 'block'
            }
            if(regionRedWineFranceRhôneValley.value == 'SOUTHERN RHÔNE') {
                document.querySelector('#subregion-wrapper').style.display = 'block'
                document.querySelector('#red-wine-france-rhône-valley-southern-rhône').value = 'default'
                document.querySelector('#red-wine-france-rhône-valley-southern-rhône').style.display = 'block'
            }
        }
        const regionRedWineFranceRhôneValley = document.querySelector('#red-wine-france-rhône-valley')
        regionRedWineFranceRhôneValley.addEventListener('change', regionRedWineFranceRhôneValleyShowSubregion)


    </script>
</body>
</html>