<h1>TEST</h1>


<% for(let i=0;i<btg_sake.length;i++){ %>
    <div class="wine">
        <span style="color:#99999900">#</span>
        <span><%= btg_sake[i].bin%></span>
        <span><%= btg_sake[i].description%></span>
        <span><%= btg_sake[i].vintage%></span>
        <span><%= btg_sake[i].price %></span>
    </div>
<% } %>