<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        @font-face{
            font-family: 'diotima';
            src: url('diotima.otf');
        }
        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }
        body{
            font-family: diotima;
            font-size:1rem;
        }
        .page{
            margin:5px auto;
            width:8.5in;
            height:11in;
            background:beige;
            border:1px solid black;
        }
        h1,h2,h3,h4,h5{
            font-size:1.1rem;
        }
    </style>
</head>
<body>

    <div class="page">
        <h1>BY THE GLASS SELECTION</h1>

        <% for(let i=0;i<btg.length;i++){ %>
            <div>
                <%= btg[i].bin %> 
                <%= btg[i].description %>
                <%= btg[i].vintageSize %>
                <%= btg[i].price %>
            </div>
        <% } %>
    </div>

</body>
</html>


